<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AOE frontend Test Suite" parallel="methods" thread-count="2">
    <test verbose="2" preserve-order="true"
          name="AOE template project">
        <classes>
            <class name="aoe.VacanciesTest"></class>
        </classes>
    </test>
</suite>